.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin: 2rem;
  overflow: hidden;

  .main-text {
    font-size: 2rem;
    text-align: center;
  }
}

