.button {
  padding: 1.5rem 5rem;
  border: none;
  border-radius: var(--border-radius-l);
  color: black;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-size: clamp(1.25rem, var(--font-size-s), 1.5rem);
  font-weight: var(--font-weight-medium);
  letter-spacing: 3px;
  text-transform: capitalize;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}