.palette-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  box-sizing: border-box;
  width: 100vw;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;

  .randomize-all {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    align-items: center;
  
    .randomize-text {
      font-size: 1rem;
      font-size: clamp(1rem, var(--font-size-s), 2rem);
      font-weight: var(--font-weigth-bold);
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
  
  .section-title {
    font-size: 2rem;
    font-size: clamp(2rem, var(--font-size-m), 2.5rem);
  }
  
  .items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .palette {
    display: flex;
    justify-content: space-between;
  
    .palette-item {
      width: 15%;
      height: 7rem;
      border-radius: var(--border-radius-s);
      background-color: red;
    }
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .color-picker {
    position: absolute;
  }
}