.side-button {
  padding: 0.6rem;
  border: none;
  background-color: #F2E9E4;
  cursor: pointer;
}

.side-button--left {
  border-top-left-radius: var(--border-radius-l);
  border-bottom-left-radius: var(--border-radius-l);
  border-top-right-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}

.side-button--right {
  border-top-left-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
  border-top-right-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
}