.item {
  display: flex;
  align-items: center;
  gap: 1rem;

  .item-button {
    display: block;
    border-radius: 50%;
    border: solid 1px black;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .item-text {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, var(--font-size-s), 1.5rem);
    text-transform: capitalize;
    cursor: pointer;
  }
}