.item-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .item-color {
    flex-shrink: 0;
    flex-basis: 4rem;
    height: 3rem;
    border-radius: var(--border-radius-s);
    cursor: pointer;
  }

  .item-text {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, var(--font-size-s), 2rem);
    text-transform: capitalize;
  }
}